<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamingarena">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CrossWord"></activity>
        <activity
            android:name=".Quiz"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SpinThebottle"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Tic_Tac_Toe"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SlideGamelv"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SlideGame3"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SlideGame2"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SlideGame1"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ColorGame3"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ColorGame2"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ColorGame1"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ColGamelv"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Arena"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>